@use "sass:map";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.min-width {
    /* Used to get the actions column in the table to be not wider than necessary */
    width: 0;
}

.center-td > td {
    vertical-align: middle;
}

.responsive-info-button, .responsive-warning-button, .responsive-danger-button, .responsive-dark-button, .responsive-tree-button {
    @include button-variant($light, $light);
}

@each $color in (info, warning, danger) {
    $value: map.get($theme-colors, $color);
    tr:hover .responsive-#{$color}-button {
        @include button-variant($value, $value);
    }
}

