<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3 ps-2 pe-2">
  <a class="navbar-brand" routerLink="/">Wendy's Family Tree</a>
  <button class="navbar-toggler btn btn-outline-primary" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarContent"  aria-expanded="false" aria-label="Toggle navigation"
          aria-controls="navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto mt-2 mt-sm-0 ms-5">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/horses">Horses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/owners">Owners</a>
      </li>
    </ul>
  </div>
</nav>
