<div class="d-flex justify-content-between align-items-end pb-4">
  <h1 class="display-1">{{ heading }}</h1>
  <ng-container [ngSwitch]="mode">
    <a
      *ngSwitchCase="modes.edit"
      class="btn btn-sm responsive-info-button"
      aria-label="Show horse details"
      [routerLink]="['../../view', horse.id]"
    >
      <i class="bi bi-info-lg"></i>
      Details
    </a>
    <a
      *ngSwitchCase="modes.view"
      class="btn btn-sm responsive-warning-button"
      aria-label="Edit horse details"
      [routerLink]="['../../edit', horse.id]"
    >
      <i class="bi bi-pencil"></i>
      Edit
    </a>
  </ng-container>
</div>

<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <!-- Start name and date of birth row -->
    <div class="mb-2 col-lg-6">
      <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
      <div class="row">
        <label
          for="horseName"
          class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
        >
          Name
        </label>
        <div class="col-md-10 col-lg-8" [ngSwitch]="mode">
          <ng-container *ngSwitchCase="modes.view">
            <div class="col-form-label">{{ horse.name }}</div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <input
              type="text"
              id="horseName"
              name="horseName"
              placeholder="Horse name"
              class="form-control"
              [class]="dynamicCssClassesForInput(horseNameModel)"
              [(ngModel)]="horse.name"
              #horseNameModel="ngModel"
              required
            />
            <div class="invalid-feedback">
              <!-- This is shown, when the form validation deems the name input to be invalid -->
              Name is required
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label
          for="horseDateOfBirth"
          class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
        >
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8" [ngSwitch]="mode">
          <ng-container *ngSwitchCase="modes.view">
            <div class="col-form-label">
              {{ horse.dateOfBirth | date : 'longDate' }}
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <input
              type="date"
              id="horseDateOfBirth"
              name="horseDateOfBirth"
              class="form-control"
              [class]="dynamicCssClassesForInput(horseDateOfBirthModel)"
              [(ngModel)]="horse.dateOfBirth"
              #horseDateOfBirthModel="ngModel"
              required
            />
            <div class="invalid-feedback">Date of birth is required</div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- End name and date of birth row -->
  </div>

  <div class="row">
    <!-- Start sex and owner row -->
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label
          for="horseSex"
          class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
        >
          Sex
        </label>
        <div class="col-md-10 col-lg-8" [ngSwitch]="mode">
          <ng-container *ngSwitchCase="modes.view">
            <div class="col-form-label">{{ horse.sex | titlecase }}</div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <select
              class="form-select"
              id="horseSex"
              name="horseSex"
              [(ngModel)]="horse.sex"
              required
            >
              <option value="FEMALE">Female</option>
              <option value="MALE">Male</option>
            </select>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label
          for="horseOwner"
          class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
        >
          Owner
        </label>
        <div class="col-md-10 col-lg-8" [ngSwitch]="mode">
          <ng-container *ngSwitchCase="modes.view">
            <div class="col-form-label">
              {{ horse.owner?.firstName }} {{ horse.owner?.lastName }}
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <app-autocomplete
              id="horseOwner"
              name="horseOwner"
              class="col-md-10 col-lg-8"
              textInputClass="form-control"
              valueNeedsToMatchSuggestion="true"
              [(ngModel)]="horse.owner"
              [formatModel]="formatOwnerName"
              [suggestions]="ownerSuggestions"
            ></app-autocomplete>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- End sex and owner row -->
  </div>

  <div class="row">
    <!-- Start parents row -->
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label
          for="horseMother"
          class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
        >
          Mother
        </label>
        <div class="col-md-10 col-lg-8" [ngSwitch]="mode">
          <ng-container *ngSwitchCase="modes.view">
            <a
              [routerLink]="['../' + horse.mother?.id]"
              class="col-form-label text-decoration-none d-block"
              >{{ horse.mother?.name }}</a
            >
          </ng-container>
          <ng-container *ngSwitchDefault>
            <app-autocomplete
              id="horseMother"
              name="horseMother"
              class="col-md-10 col-lg-8"
              textInputClass="form-control"
              valueNeedsToMatchSuggestion="true"
              [(ngModel)]="horse.mother"
              [formatModel]="formatParentName"
              [suggestions]="parentSuggestions"
            ></app-autocomplete>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label
          for="horseFather"
          class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
        >
          Father
        </label>
        <div class="col-md-10 col-lg-8" [ngSwitch]="mode">
          <ng-container *ngSwitchCase="modes.view">
            <a
              [routerLink]="['../' + horse.father?.id]"
              class="col-form-label text-decoration-none d-block"
              >{{ horse.father?.name }}</a
            >
          </ng-container>
          <ng-container *ngSwitchDefault>
            <app-autocomplete
              id="horseFather"
              name="horseFather"
              class="col-md-10 col-lg-8"
              textInputClass="form-control"
              valueNeedsToMatchSuggestion="true"
              [(ngModel)]="horse.father"
              [formatModel]="formatParentName"
              [suggestions]="parentSuggestions"
            ></app-autocomplete>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- End sex and owner row -->
  </div>

  <div class="row">
    <!-- No row and col-* here. We want this to always span the whole width. -->
    <label
      for="horseDescription"
      class="col-form-label text-md-end text-md-end text-muted col-md-2"
    >
      Description
    </label>
    <div class="col-md-10" [ngSwitch]="mode">
      <ng-container *ngSwitchCase="modes.view">
        <div class="col-form-label">{{ horse.description }}</div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <textarea
          class="form-control"
          id="horseDescription"
          name="horseDescription"
          [(ngModel)]="horse.description"
        >
        </textarea>
      </ng-container>
    </div>
  </div>

  <div class="mt-4 d-flex flex-row">
    <button
      type="button"
      class="btn btn-danger"
      *ngIf="!modeIsCreate"
      (click)="onDelete()"
    >
      <i class="bi bi-trash"></i>
      Delete
    </button>
    <span class="flex-grow-1"></span>
    <button
      *ngIf="!modeIsView"
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid"
      type="submit"
    >
      {{ submitButtonText }}
    </button>
  </div>
</form>
